.aej1 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}

.aej2 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/2.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}

.aej3 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/3.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}

.aej4 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/4.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}

.aej5 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/5.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}

.aej6 {
  	padding:0;
	color:black;
	background-color:white;
	background-image:url("../image/6.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; 
}